@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

:root{
    --color-dark: #000000;
    --color-light: #dfdfdf;
}

#main{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
}

body{
    background-image:url('/public/sunset6.jpeg');
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.board {
    position: flex;
    width: 60%;
    height: 90%;
    /*margin-left: -300px; half the width*/
    text-align: center;
}

.board .leaderboard{
    margin-bottom: 1em;
}

.board .duration{
    display: flex;
    justify-content: center;
    gap: 1em;
}

.board .duration > button{
    border: 3px solid var(--color-dark);
    padding: .5em 2em;
    border-radius: 50px;
    background-color: transparent;
    cursor: pointer;
}

.board .duration > button:hover{
    background-color: var(--color-dark);
    color: var(--color-light);
}

.active{
    background-color: var(--color-dark);
    color: var(--color-light);
}

#profile{
    /* display: flex; */

    margin-top: 3em;
}

#profile .flex{
    display: fixed;
    justify-content: space-between;
    gap: 1em;
    text-align: left;
    margin-bottom: 2em;
}

#profile .flex .item{
    display: flex;
    align-items: center;
}

#profile .flex img{
    width: 7%;
    border-radius: 10%;
}

#profile .flex .info{
   padding: 1em;
}

.text-light{
    color: var(--color-light);
}